/* Copyright 2025 sekpd */
/* SPDX-License-Identifier: Apache-2.0 */
.hero {
	background: linear-gradient(var(--bg-2), var(--bg-1));
	padding: 8rem 0.75rem;
	text-align: center;
	font-size: 4em;
	font-weight: 300;
	line-height: 1.25;
}