/* Copyright 2022 sekpd */
/* SPDX-License-Identifier: Apache-2.0 */
.hero {
	background-image: url('img/hero.webp');
	background-position: center;
	background-size: cover;
	padding: 12rem 1rem;
	text-shadow: 0 0 1rem #000;
	font-size: 4rem;
	font-weight: 300;
}