/* Copyright 2024 sekpd */
/* SPDX-License-Identifier: Apache-2.0 */
* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--text-color: #fff;
	--theme-color-1: #171414;
	--theme-color-2: #272525;
	--theme-color-3: #3c3838;
	--theme-color-4: #565151;
	--blue-1: #4589ff;
	--blue-2: #78a9ff;
	color: var(--text-color);
	background-color: var(--theme-color-1);
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

a {
	color: var(--blue-1);
	transition: all 200ms ease-out;
}

a:hover {
	color: var(--blue-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
}

ol,
ul {
	padding-left: 2em;
}

.btn-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	padding: 0;
	list-style: none;
}

.btn-list li > * {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	color: var(--text-color);
	background-color: var(--theme-color-2);
	padding: 0.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.btn-list li > *:hover {
	background-color: var(--theme-color-3);
}

.btn-list li > * svg {
	height: 1.5em;
	fill: var(--text-color);
}

.navbar {
	position: sticky;
	top: 0;
	background-color: var(--theme-color-2);
	z-index: 1;
}

.navbar nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	max-width: 80rem;
	margin: 0 auto;
	padding: 0.75rem;
}

.navbar nav > a:first-of-type {
	color: var(--text-color);
	text-decoration: none;
	font-size: 2rem;
	line-height: 1.25;
}

.navbar .btn-list {
	justify-content: center;
}

.navbar .btn-list li > * {
	background-color: var(--theme-color-3);
}

.navbar .btn-list li > *:hover {
	background-color: var(--theme-color-4);
}

footer {
	background-color: var(--theme-color-2);
	padding: 0.75rem;
	text-align: center;
}

/* Content */
main {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.625em;
	max-width: 45rem;
	margin: 0 auto;
	padding: 0.75rem;
}

main :is(ol, ul) {
	width: 100%;
}

main :is(figure, img) {
	display: block;
	max-width: 100%;
	border-radius: 0.5rem;
}

main figure {
	background-color: var(--theme-color-2);
}

main figure img {
	min-width: 100%;
}

main figcaption {
	padding: 0.75rem;
}

/* Media queries */
@media (max-width: 30em) {
	.navbar {
		position: static;
	}

	.navbar nav {
		flex-direction: column;
	}
}