/* Copyright 2024 sekpd */
/* SPDX-License-Identifier: Apache-2.0 */

/* General */
* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--fg-1: #fff;
	--bg-1: #171414;
	--bg-2: #272525;
	--bg-3: #3c3838;
	--bg-4: #565151;
	--blue-1: #4589ff;
	--blue-2: #78a9ff;
	color: var(--fg-1);
	background-color: var(--bg-1);
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	color-scheme: dark;
}

a {
	color: var(--blue-1);
	transition: all 200ms ease-out;
}

a:hover {
	color: var(--blue-2);
}

figure,
img {
	border-radius: 0.5rem;
}

figure {
	background-color: var(--bg-2);
}

figcaption {
	padding: 0.75rem;
}

img {
	display: block;
	max-width: 100%;
}

ol,
ul {
	padding-left: 2em;
}

.btn-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	padding: 0;
	list-style: none;
}

.btn-list li > * {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	color: var(--fg-1);
	background-color: var(--bg-2);
	padding: 0.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.btn-list li > *:hover {
	background-color: var(--bg-3);
}

.btn-list li > * svg {
	height: 1.5em;
	fill: var(--fg-1);
}

/* Content */
.navbar {
	position: sticky;
	top: 0;
	background-color: var(--bg-2);
	z-index: 1;
}

.navbar nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	max-width: 80rem;
	margin: auto;
	padding: 0.75rem;
}

.navbar nav > a:first-of-type {
	color: var(--fg-1);
	text-decoration: none;
	font-size: 2em;
	line-height: 1.25;
}

.navbar .btn-list {
	justify-content: center;
}

.navbar .btn-list li > * {
	background-color: var(--bg-3);
}

.navbar .btn-list li > *:hover {
	background-color: var(--bg-4);
}

main {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	gap: 0.625em;
	max-width: 45rem;
	margin: auto;
	padding: 0.75rem;
}

footer {
	background-color: var(--bg-2);
	padding: 0.75rem;
	text-align: center;
}

/* Media queries */
@media (max-width: 30em) {
	.navbar {
		position: static;
	}

	.navbar nav {
		flex-direction: column;
	}
}