---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainContent from "../components/MainContent.astro";

import { Image } from "astro:assets";
import gnomeShoeSolutions from "../assets/mods/gnome-shoe-solutions.png";

const title = "Mods";
---

<BaseLayout {title} description="Here you can find mods that I've made.">
    <MainContent>
        <h1>{title}</h1>
        <p>Here you can find mods that I've made.</p>
        <a
            href="https://www.beamng.com/resources/gnome-shoe-solutions-skins.21011/"
            class="flex flex-col max-w-sm text-current bg-neutral-900 hover:bg-neutral-800 rounded-lg no-underline"
        >
            <Image src={gnomeShoeSolutions} alt="" width={1280} />
            <div class="p-3 text-xl">GNOME Shoe Solutions Skins</div>
        </a>
    </MainContent>
</BaseLayout>
