---
const { href, higher = false, ...rest } = Astro.props;
---

<li>
    <a
        {href}
        class:list={[
            "flex items-center gap-2 text-current px-2.5 py-2 rounded-lg no-underline",
            higher ? "bg-neutral-800 hover:bg-neutral-700" : "bg-neutral-900 hover:bg-neutral-800",
        ]}
        {...rest}
    >
        <slot />
    </a>
</li>
