/* Copyright 2023 sekpd */
/* SPDX-License-Identifier: Apache-2.0 */
.mod-tile {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: min(30rem, 100%);
	min-height: 15rem;
	background-image: url("img/gss-tile.webp");
	background-position: center;
	background-size: cover;
	padding: 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

.mod-tile:hover {
	filter: brightness(1.1) saturate(1.5);
}

.mod-tile span {
	color: #fff;
	text-align: end;
	text-shadow: 0 0 0.25rem #000;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
}